# anew

#environment files
.env

# for nodejs node_moudles
node/**/node_modules
node/**/package-lock.json

# aws S3
s3/node_modules
s3/package-lock.json

#for mongodb
mongodb/**/*.json
mongodb/backup

#python venv
python/**/.venv
